@model ThriftshopSite.Models.Product;
@using (Html.BeginForm("Create", "Files"))  
{  
    <div style="height: 300px; width: 600px; overflow-y: auto">  
        <table border="1">  
      
        </table>  
    </div>  
    <input type="submit" value="Save" style="float: right; width: 70px; font-size: 12px" />  
}